version: "3.9"

services:
  web:
    build:
      context: .
      target: runner
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: "mysql://root:root@localhost:3306/personal?connection_limit=5&pool_timeout=30"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"
    restart: unless-stopped
