version: "3.8"

services:

  # ===== Web Application =====
  web:
    build:
      context: .
      target: runner
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
      VIRTUAL_PORT: 3000
      NEXT_PUBLIC_BASE_URL: https://mefouda.me
      VERCEL_URL: mefouda.me
      DATABASE_URL: "mysql://u744630877_mefouda:%23Mefoudamefouda123@srv557.hstgr.io/u744630877_mefouda?connection_limit=5&pool_timeout=30"
      # For nginx-proxy automatic SSL
      VIRTUAL_HOST: mefouda.me,www.mefouda.me
      LETSENCRYPT_HOST: mefouda.me,www.mefouda.me
      LETSENCRYPT_EMAIL: compumacy28@gmail.com
    networks:
      - proxy
    restart: unless-stopped

# ===== Shared network =====
networks:
  proxy:
    external: true
